.agreement-form-container{
    width: calc(90% - 10px);
    padding: 10px 5px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(100,100,100);
    margin-top: 10px;
    min-height: 80vh;
    position: relative;
    .agreement-name-header{
        width: calc(80% - 20px);
        padding: 10px;
        text-align: center;
        font-size: 1.9em;
        font-family: "Bebas Neue",sans-serif;
        border: none;
        border-radius: 10px;
        background: rgba(200,200,200,.2);
        transition: all 0.4s;
        margin-bottom: 40px;
    }
    .agreement-name-header::placeholder, 
    .agreement-name-header::-moz-placeholder,
    .agreement-name-header::-webkit-input-placeholder{
        font-family: "Bebas Neue",sans-serif;
    }
    .agreement-name-header:hover{
        filter: brightness(70%);
    }
    .agreement-name-header:focus{
        filter: brightness(50%);
        outline: none;
    }
    .agreement-content{
        .main-menu-container{
            width: calc(90% - 10px);
            padding: 5px;
            margin-bottom: 20px;
            .menu-btn{
                display: inline-block;
                margin: 0 5px;
                border: none;
                border-radius: 10px;
                font-size: 1.2em;
                font-family: "Bebas Neue",sans-serif;
                box-shadow: 1px 1px 10px #aaa;
                padding: 10px 20px;
                cursor: pointer;
                transition: all 0.4s;
            }
            .menu-btn:hover{
                filter: brightness(70%);
            }
            .menu-btn:focus{
                outline: none;
            }
        }
        .agreement-points{
            .point-label,.point-content, .buttons-wrapper{
                display: inline-block;
                font-size: 1.1em;
            }
            .recording{
                background: rgba(200,0,0,.8);
            }
            .point-content{
                min-width: calc(80% - 10px);
                max-width: calc(80% - 10px);
                padding: 5px;
                font-family: "Oswald",sans-serif;
                border: none;
                background: rgba(200,200,200,.1);
                border-radius: 10px;
                transition: all 0.4s;
                min-height: 15vh;
                max-height: 19vh;
            }
            .point-content:hover{
                filter: brightness(40%);
            }
            .point-label{
                vertical-align: top;
                margin: 7px 5px;
                font-family: "Bebas Neue",sans-serif;
            }
            .buttons-wrapper{
                vertical-align: top;
            }
        }
        .delete-button{
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #ccc;
            color: black;
            cursor: pointer;
            transition: all 0.4s;
            box-shadow: 1px 1px 5px #ccc;
            margin: 3px 5px;
            display: block;
        }
        .delete-button:hover{
            filter: brightness(70%);   
        }
        .agreements-signatures{
            position: relative;
            top: 20px;
            padding-bottom: 10px;
            .agreement-sign-wrapper{
                width: calc(90% - 10px);
                padding: 5px;
                margin-bottom: 7px;
            }
            .agreement-sign{
                width: calc(50% - 20px);
                padding: 10px;
                display: inline-block;
                font-size: 1.1em;
                font-family: "Oswald",sans-serif;
                text-indent: 1em;
                border-radius: 5px;
                border: none;
                box-shadow: 1px 1px 10px #ccc;
            }
            .buttons-wrapper{
                display: inline-block;
                vertical-align: top;
                .delete-signature-btn{
                    margin: 0px 5px;
                }
            }
        }
        .agreement-way-of-export{
            position: relative;
            top: 10px;
            padding-bottom: 10px;
            .way-header{
                text-align: center;
                font-size: 1.3em;
                font-family: "Bebas Neue",sans-serif;
                margin-bottom: 13px;
            }
            .agreement-way-btn{
                display: inline-block;
                margin: 5px 5px;
                padding: 10px 20px;
                border: none;
                border-radius: 10px;
                font-size: 1.1em;
                font-family: "Bebas Neue",sans-serif;
                transition: all 0.4s;
            }
            .agreement-way-btn:hover{
                filter: brightness(70%);
            }
            .chosen-btn{
                box-shadow: 1px 1px 7px #111;
            }
        }
    }
    .submit-btn{
        padding: 10px 20px;
        font-size: 1.3em;
        font-family: "Bebas Neue",sans-serif;
        border: none;
        border-radius: 10px;
        background:rgb(150,150,150);
        transition: all 0.4s;
        margin-top: 20px;
    }
    .submit-btn:hover{
        filter: brightness(70%);
    }
}
@media screen and (max-width: 864px) {
    .agreement-form-container{
        width: calc(95% - 10px);
        .agreement-content{
            .agreements-signatures{
                padding-bottom: 15px;
                .agreement-sign-wrapper{
                    width: calc(100% - 10px);
                }
                .agreement-sign{
                    width: calc(60% - 20px);                    
                }
            }
        }
    }    
}
@media screen and (max-width: 658px) {
    .agreement-form-container{
        .agreement-name-header{
            width: calc(90% - 20px);
            font-size: 1.6em;
        }
        .agreement-content{
            .main-menu-container{
                .menu-btn{
                    font-size: 0.9em;
                }
            }
            .delete-button{
                font-size: 0.7em !important;
            }
            .agreement-points{
                .point-label,.point-content{
                    font-size: 0.9em;
                }
            }
            .agreements-signatures{
                .agreement-sign{
                    font-size: 0.9em;
                    text-indent: 0.8em;             
                }
            }
            .agreement-way-of-export{
                .way-header{
                    font-size: 1.1em;
                }
                .agreement-way-btn{
                    font-size: 0.9em;
                }
            }
        }

        .submit-btn{
            padding: 10px 15px;
            font-size: 1.1em;
        }
    }
}
@media screen and (max-width: 362px) {
    .agreement-form-container{
        .agreement-name-header{
            width: calc(100% - 20px);
            font-size: 1.2em;
        }
        .agreement-content{
            .main-menu-container{
                .menu-btn{
                    display: block;
                    margin: 6px auto;
                    width: calc(100% - 40px);
                }
            }
            .agreement-points{
                .point-label,.point-content{
                    font-size: 0.8em;
                }
                .point-content{
                    min-width: calc(70% - 10px);
                    max-width: calc(70% - 10px);
                }
            }
            .agreements-signatures{
                margin-bottom: 24px;
                .agreement-sign{
                    width: calc(80% - 20px);           
                }
            }
        }
        .submit-btn{
            font-size: 0.9em;
        }
    }
}